### Java ###
# Compiled class file
*.class

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.gradle
.classpath
.project
.vscode/settings.json
